<%layout("/layouts/boilerplate")%>
<% if(typeof success !== 'undefined' && success.length){ %>
	<div class="alert alert-success col-6 offset-3" role="alert">
		<%=success%>
	</div>
	<% } %>

<% if(typeof error !== 'undefined' && error.length){ %>
			<div class="alert alert-danger col-6 offset-3" role="alert">
				<%=error%>
			</div>
			<% } %>